<form (ngSubmit)="addColumn(columnName.value)">
  <div><label for="columnName">Column name:</label><input type="text" #columnName></div>
  <div><button type="submit">Add Column</button></div>
</form>
<div cdkDropListGroup>
  <div
    *ngFor="let column of (columns$ | async)">
    <form (ngSubmit)="addTask(column.id, task.value)">
      <div><label for="task">Task:</label><input type="text" #task></div>
      <div><button type="submit">Add Task</button></div>
    </form>
    <app-column [column] = "column" [drop]=drop ></app-column>
  </div>
</div>
