<table>
  <tr>
    <th>{{id}}</th>
  </tr>
  <tr>
    <div class="tasklist" [id]=id
         cdkDropList
         (cdkDropListDropped)="drop($event)"
         [cdkDropListData]="(tasksContent$ | async) ?? []">
      <div
        *ngFor="let task of (tasks$ | async)">
        <div cdkDrag>
          <form (ngSubmit)="editTaskName(task.id, taskName.value)">
            <div><label for="taskName">New name of task:</label><input type="text" #taskName></div>
            <div><button type="submit">Edit name of task</button></div>
          </form>
          <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{task.description}}
                </mat-panel-title>
                <mat-panel-description>
                  click to see users
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>Kies user</p>
              <div *ngFor="let user of (users$ | async)">
                <div *ngIf="!(task.users.includes(user))">
                <button (click)="addUserToTask(user.username, task.id)">{{user.username}}</button>
                </div>
              </div>
              <p>Users: </p>
              <div *ngFor="let taskUser of task.users">
                <p>{{taskUser.username}}</p>
              </div>
            </mat-expansion-panel>
          </mat-accordion>

        </div>

      </div>
    </div>
  </tr>
</table>
