<table>
  <tr>
    <th>{{id}}</th>
  </tr>
  <tr>
    <div [id]=id
         cdkDropList
         (cdkDropListDropped)="drop($event)"
         [cdkDropListData]="(tasksContent$ | async) ?? []">
      <div
        *ngFor="let task of (tasks$ | async)">
        <div cdkDrag>
          <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{task.description}}
                </mat-panel-title>
                <mat-panel-description>
                  click to see users
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>Kies user</p>
              <div *ngFor="let user of (users$ | async)">
                <button (click)="addUserToTask(user.username, task.id)"></button>
              </div>
              <p>Users: </p>
              <div *ngFor="let taskUser of task.users">
                <p>{{taskUser.username}}</p>
              </div>
            </mat-expansion-panel>
          </mat-accordion>

        </div>

      </div>
    </div>
  </tr>
</table>
